<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="index :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="d-flex flex-column min-vh-100">
<nav th:replace="index :: navbar"></nav>

<div class="container mt-5">
    <main class="flex-fill">
        <div class="card" style="width: 18rem;">
            <img th:src="${artista.imagen}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title" th:text="${artista.nombre}">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </main>
</div>


<footer th:replace="index :: footer"></footer>
<div th:replace="index :: jsincludes"></div>
</body>
</html>