<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<p class="text-success" th:if="${param.exito}" > Artista dado de alta exitosamente</p>
<hr>
<form th:action="@{/tienda/guardar}" th:object="${artista}" th:method="post">
  <label>Nombre:</label> <input type="text"
                                 name="nombre" id="nombre" th:field="*{nombre}">
  <label>Genero musical:</label> <input type="text"
                                 name="genero" id="genero" th:field="*{genero}">
  <label>Edad:</label> <input type="text"
                                 name="edad" id="edad" th:field="*{edad}">
  <label>Descripcion:</label> <input type="text"
                                 name="descripcion" id="descripcion" th:field="*{descripcion}">
<label>Imagen (url):</label> <input type="text"
                                 name="imagen" id="imagen" th:field="*{imagen}">

  <button type="submit">Enviar</button>

</form>

</body>
</html>